### IntelliJ IDEA ###

.idea
*.iws
*.iml
*.ipr

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*/target/*
*/.mvn/
*/mvnw
*/mvnw.cmd
scripts/modified/*
app-configmap.yaml
ingress.yaml
managedCertificate.yaml
